@import url('https://fonts.googleapis.com/css2?family=Abel&family=Prompt:wght@300&display=swap');


body{
  overflow-x: hidden;
  position: absolute;
  padding: 0px 40px;
  top: 0;
  color: rgb(37, 36, 36);
}
/***************** Header and navbar starts *************** */
nav::before{
  content: "";
  background: url("../assets/images/nav-background.png");
  position: absolute;
  left: 0;
  width: 100%;
  height: 33vh;
  z-index: -1;
}

nav{
  display: flex;
  justify-content: space-between;
  z-index: 3;    
}

nav ul {
  display: flex;
  list-style: none;
  width: 80%;
  justify-content: space-evenly;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 1.5rem;
  margin-right: 2rem;
}

.nav-logo{
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.nav-log-text{
  color: white;
  font-size: 30px;
}

#navigation-bar li:hover a::before {
right: 0;
left: 0;
}
#navigation-bar a {
color: white;
font-size: 20px;
text-decoration: none;
text-align: center;
display: block;
position: relative;
transition: all 0.3s ease;
}
#navigation-bar a:hover {
color: #00ffff;
}
#navigation-bar a::before {
content: "";
transition: all 0.4s ease-in-out;
position: absolute;
right: 50%;
left: 50%;
bottom: 0;
height: 2px;
background-color: #00ffff;
}

header{
  width: 100%;
  height: 100vh;
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
}

.header-img-div{
  width: 50%;
  align-self: center;
}
.header-img{
  width: 100%;
}

.header-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0px 20px;
  padding-bottom: 20px;
}

.header-text{
  font-family: 'Abel', sans-serif;
  font-family: 'Prompt', sans-serif;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text h2{
  margin-bottom: 20px;
}

.header-text p{
  text-align: center;
}

.header-cta{
  height: 60px;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.cta{
  padding:0.2rem 3rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.cta-1{
  background-color: white;
  border: 2px solid #3067FD;
  color: #3067FD;
}

.cta-1:hover,  .cta-2:focus, .cta-2:target {
  background-color: #3067FD;
  color: white;
}

.cta-2{
  background-color: #3067FD;
  color: white;
}

.cta-2:hover, .cta-2:focus, .cta-2:target {
  background-color: white;
  box-shadow: 0px 0px 3px 1px #3067FD inset;
  color: #3067FD;
}
/***************** Header and navbar ends *************** */

/* ******************* Carousal starts ********************* */

.slideshow-container {
  position: relative;
  margin: auto;
  width: 85%;  
}
.slideshow-container > a{
  text-decoration: none;
}
.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text{
  font-size: 22px;
  font-weight: 600;
  padding: 8px 12px;
  margin-left: 3rem;
  position: absolute;
  top: 30%;
  width: 30%;
  text-align: start;
}

.slideshow-container .mySlides:nth-child(even) .text
{
  right: 5%;
}

.carousel{
  margin-top: 50px;
}

.carousel-header{
  font-size: 35px;
  font-weight: 600;
  padding: 8px 12px;
  margin-left: 3rem;
  position: absolute;
  top: 10%;
  width: 40%;
  text-align: start;
}

.slideshow-container .mySlides:nth-child(even) .carousel-header{
  right: 5%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.mySlides button {
  position: absolute;
  bottom: 15%;
  left: 10%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem 2.5rem;
  background-color: #3d70fd;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.mySlides button:hover{
  background-color: #2252d6;
}

/* ******************* Carousal ends ********************* */

/* ---------------------About Section starts--------------*/
.about{
  margin: 30px 0;
  padding: 10px 20px;

}
.about h2{
  border-bottom: 2px solid rgb(24, 147, 230);
  padding: 10px 0;
  font-size: 2.5rem; 
}

.about img{
  width: 600px;
}

.details{
    margin: 30px 0;
    color: #333;
  }




.why-us{
  margin: 30px 0;
  padding: 10px 20px;

}
.why-us h1{
  border-bottom: 2px solid rgb(24, 147, 230);
  padding: 10px 0;
  margin-top: 1500px;  
}

.why-us img{
  width: 500px;
  border-radius: 5px;
}

@media screen and (max-width: 1200px){
  .carousel-header{
    width: 50%;
    font-size: 25px;
  }
  .text{
    font-size: 15px;
    top: 47%;
    width: 40%;
  }
  .mySlides button {
    position: absolute;
    bottom: 15%;
    left: 15%;
    padding: 10px 10px;
    color: white;
    font-size: 15px;
  }
}

@media screen and (max-width: 850px){
  nav ul {
    font-size: 15px;
    border-radius: 4px;
    margin-right: 1rem;
  }

  nav ul li{
    margin-right: 10px;
  }
  
  header{
    flex-direction: column;
  }
  
  .header-img-div{
    height: 50%;
  }
  .header-img{
    height: 100%;
  }
  
  .header-content{
    width: 100%;
  }
  .header-cta{
    width: 50%;
    margin-top: 10px;
  }
}

@media (min-width:400) {
  .about img{
    width: 150px;
  }
}

#topbutton
{
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 50px;
  width: 50px;
  border-radius: 55px;
  background: #2252d6;
  outline: none;
  border: none;
}
