*{
    margin: auto;
    padding: 0%;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.register{
    max-width: 700px;
    width: 150%;
    background: white;
    padding: 25px 30px;
    border-radius: 10px;
    
}

#name{
    height: 30px;
    width: 700px;
}


.button{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 2px solid black;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}
h1{
    text-align: center;
    color:135deg, #71b7e6, #9b59b6 ;
}